#node modules
backend/node_modules/
node_modules/
#envornment files
.env
#logs
.log
#system or os files
.DS_Store
Thumbs.db
#build or cache folders
dist/
build/
.cache/
#temporary files
*.tmp
*.back
#ide/ editor files
.vscode/
.idea/
